.smile-face {
    max-width: 50px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: 25px;
}
.navbar {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.3rem;
    padding-left: 25px;
   
}
.hero {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 80px;
    background-image: url('hero-img.png');
    background-repeat: no-repeat;
    min-height: 30vh;
    background-position: right;
    background-color: rgb(98, 36, 243)
    /* background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */
}
.hero-h1 {
    color: white;
    font-size: 35pt;
}
.hero-p1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(184, 170, 170);
    font-size: 20pt;
}
.hero-b1 {
    padding: 18px 32px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-weight: 700;
    background-color: rgb(157, 210, 145);
    color: white;
}
.hero-b2{
    padding: 18px 32px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-weight: 700;
}
.section1 img {
    max-width: 80px;
    border-radius: 40px;
}
.section1 {
    display: flex;
    gap: 150px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section1 > div {
display: flex;
align-items: center;
gap: 15px;
}
.images img {
    max-width: 250px;
}
.images {
    min-height: 35vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: lightgrey;
}
.recommend {
    font-size: 25pt;
    
}